html {
  font-size: 18px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}

textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

#root {

}

.layout {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "view control";
}

.layout > .check-view {
  background: #f2f2f2;
  overflow: auto;
  display: flex;
  padding: 20px 0;
}

.layout > .check-view .check-letter {
  padding: 32px;
  margin: auto;
  width: 490px;
  background: #fff;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
  font-size: 21px;
}

.check-logo {
  text-align: center;
}

.check-logo-img {
  width: 120px;
  height: 120px;
  margin-bottom: 1em;
}

.check-divider {
  margin: 0.3em 0;
  border-bottom: 2px dashed #979797;
}

.check-entry {
  margin: 1em 0;
}

.entry-title {
  font-weight: bold;
  margin-bottom: 1em;
}

.entry-columns {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas:
          "label entryRight";
}

.entry-label {
  grid-area: label;
}

.entry-right {
  grid-area: entryRight;
  text-align: right;
}

.entry-contact {
  margin: 1em 0;
}

.entry-contact-label {
  color: #828282;
  margin-bottom: 0.2em;
}

.entry-site-qr {
  text-align: center;
}

.entry-site-url {
  text-align: center;
}

.entry-site-qr-img {
  width: 290px;
  height: 290px;
  margin: 1em 0;
}

.entry-qr {
  text-align: center;
}

.entry-qr-img {
  width: 145px;
  height: 145px;
}


.layout > .check-control {
  background: #fff;
  overflow: auto;
  padding: 50px 32px;
}

.check-control-caption {
  font-size: 33.8px;
  font-weight: bold;
  margin: 0 0 1em 0;
}


.control-item {
  background: #f2f2f2;
  margin: 24px 0;
  padding: 16px 24px 24px;
  border-radius: 10px;
  position: relative;
}

.control-item-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1em;
}

.item-trigger {
  margin: 0.5em 0;
}

.control-logo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.control-logo-img {
  width: 91px;
  height: 91px;
}

.trigger {
  display: inline-flex;
  align-items: center;
  position: relative;
  padding-left: 70px;
  min-height: 30px;
  cursor: pointer;
}

.trigger-shape {
  position: absolute;
  left: 0;
  top: 0;
}

.trigger-shape:before,
.trigger-shape:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 100ms ease;
}

.trigger-shape:before {
  width: 50px;
  height: 30px;
  border-radius: 14.5px;
  background-color: #000000;
  opacity: 0.1;
}

.trigger-shape:after {
  width: 28px;
  height: 28px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  border-radius: 50%;
  top: 1px;
}

.trigger-input {
  opacity: 0;
  left: 0;
  position: absolute;
}

.trigger-input:checked ~ .trigger-shape:before {
  background: #0084ff;
  opacity: 1;
}

.trigger-input:checked ~ .trigger-shape:after {
  left: 21px;
}

.trigger-label {

}





.checkbox {
  display: inline-flex;
  align-items: center;
  position: relative;
  padding-left: 23px;
  min-height: 19px;
  cursor: pointer;
}

.checkbox-shape {
  position: absolute;
  left: 0;
  top: 0;
}

.checkbox-shape:before,
.checkbox-shape:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 100ms ease;
}

.checkbox-shape:before {
  width: 17px;
  height: 17px;
  border-radius: 2px;
  background-color: #000;
}

.checkbox-shape:after {
  width: 9px;
  height: 4px;
  border: transparent;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  top: 5px;
  left: 4px;
  opacity: 0;
  transform: rotate(-52deg);
}

.checkbox-input {
  opacity: 0;
  left: 0;
  position: absolute;
}

.checkbox-input:checked ~ .checkbox-shape:after {
  opacity: 1;
}

.checkbox-label {
  font-size: 12px;
  color: #828282;
}




.control-item > .control-actions {
  position: absolute;
  top: 25px;
  right: 25px;
}

.control-actions {

}

.control-actions .action {
  width: 34px;
  height: 34px;
  border-radius: 4px;
  margin-left: 15px;
  border: none;
  background: #000;
  color: #fff;
}


.button {
  border: none;
  outline: none;
  border-radius: 5px;
  background: #0a7aff;
  color: #fff;
  height: 59px;
  padding: 0 2em;
  font-size: 19px;
  min-width: 80px;
  cursor: pointer;
}

.field {
  display: block;
  position: relative;
  background: #fff;
  margin: 16px 0;
  padding: 10px 160px 10px 12px;
  border-radius: 5px;
}

.field .control-actions {
  position: absolute;
  top: 15px;
  right: 15px;
}

.field-label {
  font-size: 12px;
  color: #828282;
  margin-bottom: 0.5em;
}

.field-input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

input[type='text'].field-input {
  width: 100%;
}

textarea.field-input {
  min-height: 109px;
  width: 100%;
  display: block;
  resize: none;
}

.phone-relations {
  margin-top: -5px;
}

.phone-relations .checkbox {
  margin-right: 2em;
}

.add {
  border: none;
  background: transparent;
  outline: none;
  margin: 0;
  padding: 0;
  color: #0a7aff;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}